body {
    margin: 0;
    padding: 0;
}

.header {
    background-color: hotpink;
}

.header a {
    color: white;
}

.header a:hover {
    color: white;
    text-decoration: underline;
}

.img {
    margin: auto;
    height: 300px;
    width: 300px;
}
.img img{
    max-height:100%;
    max-width:100%;
}