<nav class="nav flex-column footer">
    <div class="container">
        <div class="row">
            <ul class="nav flex-column col" id="ContactListfooter">
                <li class="nav-item">
                    <p>Author: {{ config.AUTHOR}}</p>
                </li>
                <li class="nav-item">
                    <p>Contacts:</p>
                </li>

            </ul>
            <ul class="nav flex-column col" id="menuItemsListfooter">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#"><b>{{ config.BLOG_TITLE}}</b></a>
                </li>
            </ul>

        </div>
    </div>
</nav>