body {
    margin: 0;
    padding: 0;
}

.header {
    background-color: hotpink;
}

.header a {
    color: white;
}

.header a:hover {
    color: white;
    text-decoration: underline;
}

.footer {
    background-color: hotpink;
    margin-top: 40px;
    width: 100%;
}

.footer a {
    color: white
}
.footer a:hover {
    color: white;
    text-decoration: underline;
}
.footer p {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    margin: 0
}

.nav-link-footer {
    padding: 0;
    padding-left: 10px;
}
